<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Users Page
    body
        a(href="/") Home
        form(action="/user/search", method="get")
            input(type="text", placeholder="Search ....", name="q")
            button(type="submit") Submit
        ul
            each user in users
                li= user.name + ' - ' + user.age + ' - ' + user.gender
